USE [master]
GO
/****** Object:  Database [RenTurtorToStudent]    Script Date: 8/23/2024 7:51:42 PM ******/
CREATE DATABASE [RenTurtorToStudent]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RenTurtorToStudent', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RenTurtorToStudent.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RenTurtorToStudent_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RenTurtorToStudent_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RenTurtorToStudent].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RenTurtorToStudent]
GO
/****** Object:  User [Sendo_Havan*127.0.0.0*1]    Script Date: 8/23/2024 7:51:43 PM ******/
CREATE USER [Sendo_Havan*127.0.0.0*1] FOR LOGIN [Sendo_Havan*127.0.0.0*1] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Sendo_Havan*127.0.0.0*1]
GO
ALTER ROLE [db_datareader] ADD MEMBER [Sendo_Havan*127.0.0.0*1]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [Sendo_Havan*127.0.0.0*1]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [Sendo_Havan*127.0.0.0*1]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 8/23/2024 7:51:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 8/23/2024 7:51:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CategoryID] [int] NOT NULL,
	[TutorID] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[Image] [nvarchar](255) NULL,
	[Status] [nvarchar](50) NULL,
	[LinkVideo] [nvarchar](max) NULL,
	[Hours] [int] NULL,
	[DiscountPrice] [decimal](18, 2) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 8/23/2024 7:51:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 8/23/2024 7:51:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 8/23/2024 7:51:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[OrderDate] [datetime] NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 8/23/2024 7:51:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tutors]    Script Date: 8/23/2024 7:51:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tutors](
	[TutorID] [int] NOT NULL,
	[Qualifications] [nvarchar](255) NULL,
	[Experience] [nvarchar](255) NULL,
	[Specialization] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TutorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserApprovalLogs]    Script Date: 8/23/2024 7:51:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserApprovalLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[TutorID] [int] NOT NULL,
	[AdminID] [int] NOT NULL,
	[Decision] [nvarchar](50) NOT NULL,
	[DecisionDate] [datetime] NULL,
	[Reason] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/23/2024 7:51:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[Birthday] [date] NULL,
	[FullName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (58, N'Web Development', N'Web Development có thể được chia thành ba hạng mục chính: Client-side (Frontend), Server-side (Backend) và Công nghệ cơ sở dữ liệu. ')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (59, N'Mobile Development', N'Focused on the creation of applications for mobile devices, including smartphones and tablets. It includes Android and iOS development, using language')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [CourseID], [UnitPrice], [Quantity], [TotalPrice], [Status]) VALUES (161, 115, 20, CAST(289000.00 AS Decimal(18, 2)), 1, CAST(90000.00 AS Decimal(18, 2)), N'Studying')
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [CourseID], [UnitPrice], [Quantity], [TotalPrice], [Status]) VALUES (162, 115, 19, CAST(299000.00 AS Decimal(18, 2)), 1, CAST(100000.00 AS Decimal(18, 2)), N'Done')
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [CourseID], [UnitPrice], [Quantity], [TotalPrice], [Status]) VALUES (163, 116, 19, CAST(299000.00 AS Decimal(18, 2)), 1, CAST(100000.00 AS Decimal(18, 2)), N'Studying')
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [StudentID], [OrderDate], [TotalAmount], [Status]) VALUES (115, 63, CAST(N'2024-08-22T21:42:43.903' AS DateTime), CAST(190000.00 AS Decimal(18, 2)), N'Success')
INSERT [dbo].[Orders] ([OrderID], [StudentID], [OrderDate], [TotalAmount], [Status]) VALUES (116, 63, CAST(N'2024-08-22T22:30:10.840' AS DateTime), CAST(190000.00 AS Decimal(18, 2)), N'Success')
INSERT [dbo].[Orders] ([OrderID], [StudentID], [OrderDate], [TotalAmount], [Status]) VALUES (117, 63, CAST(N'2024-08-23T13:37:24.793' AS DateTime), CAST(190000.00 AS Decimal(18, 2)), N'Pending')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
INSERT [dbo].[Students] ([StudentID]) VALUES (58)
INSERT [dbo].[Students] ([StudentID]) VALUES (63)
INSERT [dbo].[Students] ([StudentID]) VALUES (103)
GO
INSERT [dbo].[Tutors] ([TutorID], [Qualifications], [Experience], [Specialization]) VALUES (65, N'https://think.edu.vn/wp-content/uploads/2022/01/Certificate-la-gi.jpg', N'20 years', N'Mobile Development ')
INSERT [dbo].[Tutors] ([TutorID], [Qualifications], [Experience], [Specialization]) VALUES (94, N'https://think.edu.vn/wp-content/uploads/2022/01/Certificate-la-gi.jpg', N'20 years', N'Website Development ')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Email], [PasswordHash], [Role], [Status], [CreatedAt], [UpdatedAt], [Phone], [Address], [Birthday], [FullName]) VALUES (11, N'admin', N'admin@example.com', N'123456', N'Admin', N'Active', CAST(N'2024-08-07T16:08:00.600' AS DateTime), CAST(N'2024-08-07T16:08:00.600' AS DateTime), N'223-456-7890', N'Thu Duc City', CAST(N'1981-07-02' AS Date), N'Lê Văn Hà')
INSERT [dbo].[Users] ([UserID], [Username], [Email], [PasswordHash], [Role], [Status], [CreatedAt], [UpdatedAt], [Phone], [Address], [Birthday], [FullName]) VALUES (58, N'Student', N'vanha10062000@gmail.com', N'123456', N'Student', N'Active', CAST(N'2024-08-22T20:56:28.347' AS DateTime), CAST(N'2024-08-22T20:56:28.350' AS DateTime), N'', N'', CAST(N'0001-01-01' AS Date), N'Văn Hà')
INSERT [dbo].[Users] ([UserID], [Username], [Email], [PasswordHash], [Role], [Status], [CreatedAt], [UpdatedAt], [Phone], [Address], [Birthday], [FullName]) VALUES (63, N'Student', N'vajixi2525@amxyy.com', N'123456', N'Student', N'Active', CAST(N'2024-08-22T21:17:37.160' AS DateTime), CAST(N'2024-08-22T21:17:37.160' AS DateTime), N'', N'', CAST(N'0001-01-01' AS Date), N'Nguyen Van A')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((0.00)) FOR [DiscountPrice]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((0.00)) FOR [Price]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ((0)) FOR [TotalPrice]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[UserApprovalLogs] ADD  DEFAULT (getdate()) FOR [DecisionDate]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Role]  DEFAULT ('DefaultRole') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD FOREIGN KEY([TutorID])
REFERENCES [dbo].[Tutors] ([TutorID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Tutors]  WITH CHECK ADD FOREIGN KEY([TutorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserApprovalLogs]  WITH CHECK ADD FOREIGN KEY([AdminID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserApprovalLogs]  WITH CHECK ADD FOREIGN KEY([TutorID])
REFERENCES [dbo].[Tutors] ([TutorID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
USE [master]
GO
